$container-width: 1170px;
$content-width: 940px;

$header-height: 148px;
$navigation-height: 75px;
$logo-width: 135px;


$white: #fff;

$brand-light-red: #f86a6d;
$brand-red: #f64548;
$brand-dark-red: #b54f41;
$brand-pink: #f86a6d;
$brand-light-grey: #e5e5e5;
$brand-grey: #54585a;
$brand-dark-grey: #3c3d40;

$bp-smaller: 480px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-normal: 1280px;
$bp-large: 1920px;

$body-font: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$body-font-light: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$title-font: 'HelveticaNeue-CondensedBold',  'Helvetica Neue';


