%anchor-hover {
  @include media($bp-small) {
    position: relative;
    text-decoration: none;
    border: 5px solid transparent;
    border-left: 0;

    &:hover {
      &:before {
        @include transform(scaleX(1));
        visibility: visible;
      }
    }

    &:before {
      @include transform(scaleX(0));
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      bottom: -5px;
      left: 10%;
      background-color: $brand-grey;
      visibility: hidden;
      @include transition(all 0.3s ease-in-out 0s);
    }
  }
}

%hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
