@font-face {
  font-family: 'FSAlbertWeb-Regular';
  src: url("/fonts/FSAlbertWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: 'FSAlbertWeb-Bold';
  src: url("/fonts/FSAlbertWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?hp24qf");
  src: url("/fonts/icomoon.eot?#iefixhp24qf") format("embedded-opentype"), url("/fonts/icomoon.ttf?hp24qf") format("truetype"), url("/fonts/icomoon.woff?hp24qf") format("woff"), url("/fonts/icomoon.svg?hp24qf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e906";
}
.icon-chevron-circle-right:before {
  content: "\e900";
}
.icon-chevron-thin-up:before {
  content: "\e901";
}
.icon-chevron-thin-right:before {
  content: "\e902";
}
.icon-chevron-thin-left:before {
  content: "\e903";
}
.icon-chevron-small-up:before {
  content: "\e904";
}
.icon-chevron-small-down:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}

