body {
  color: $white;
  font-family: $body-font;
  font-size: 15px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $title-font;
  font-size: rem(30);
  color: $white;
}

h2 {
  font-family: $title-font;
  font-size: rem(30);
  line-height: rem(40);
  color: $white;
}

h3 {
  font-size: rem(22);
  line-height: rem(22);
  color: $white;
}

h4 {
  font-size: rem(20);
  letter-spacing: -0.01em;
}

p {
  font-size: rem(18);
  margin-top: 15px;
}

span {
  font-size: rem(12);
  letter-spacing: 0.02em;
}

a {
  font-family: $body-font-light;
  color: $brand-grey;
  font-size: rem(19);
  text-decoration: none;

  &.js-active {
    font-family: $title-font;
  }
}
