.content-filters {
  margin-top: $gutter;

  .inner {
    background: $brand-light-red;
  }

  h4 {
    margin-left: 20px;
  }

  ul {
    margin-top: 20px;
    column-count: 2;

    @include media($bp-smaller) {
      column-count: 4;
    }

    @include media($bp-small) {
      column-count: 1;
    }

    &:not(.no-column) {
      @include media($bp-small) {
        column-count: 3;
      }
    }
  }

  .content-options {
    @include span-columns(12);
    @include omega;
  }

  .content-filter {
    @include span-columns(10 of 10);
    @include omega;

    @include media($bp-smaller) {
      @include span-columns(6, block-collapse);
    }

    @include media($bp-small) {
      @include span-columns(2 of 10, block-collapse);
      @include omega;
    }

    & > div {
      @include pad(9px 20px);
      background: $brand-red;
      font-size: rem(20px);
    }
  }

  .content-sort {
    @include span-columns(12, block-collapse);
    @include omega;
    @include pad(10px 0);
    background: $white;

    @include media($bp-smaller) {
      @include span-columns(6, block-collapse);
      @include pad(0 0 20px);
    }

    @include media($bp-small) {
      @include span-columns(8 of 10, block-collapse);
      @include omega;
    }

    label {
      @include pad(12px 20px);
      font-size: 18px;
      font-family: $body-font-light;

      @include media($bp-smaller) {
        margin-left: 16px;
      }
    }
  }

  .content-filter-group {
    @include span-columns(12);
    @include omega;
    margin-top: 20px;

    @include media($bp-small) {
      @include span-columns(9);
    }

    &.first {
      @include span-columns(12);

      @include media($bp-small) {
        @include span-columns(3);
        border-bottom: none;
      }
    }
  }
}
