label {
  float: left;
  color: $brand-grey;
}

select {
  width: 100%;
  -webkit-appearance: none;
  padding: 7px;
  border-radius: 3px;
  border: 2px solid $brand-light-grey;
  font-size: rem(18);
  font-family: $body-font-light;
  color: $brand-grey;
}

.content-select {
  @include span-columns(6 of 12);
  
  @include media($bp-small) {
    @include span-columns(3 of 12);
  }
}

.content-checkbox {
  width: 23px;
  height: 23px;
  position: relative;
  margin: 0 25px 15px;
  background: #fcfff4;
  border-radius: 50px;

  label {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 1px;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 35px;
    min-width: 175px;
    color: $white;

    &:after {
      content: '';
      width: 12px;
      height: 6px;
      position: absolute;
      top: 6px;
      left: 5px;
      border: 2px solid $brand-dark-grey;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label:after {
      opacity: 1;
    }
  }
}
