[class^="icon-"], [class*=" icon-"] {
  padding: 0 7px 0 0;
  font-size: 18px;
}

.icon-search {
  color: $brand-dark-grey;
  font-size: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;

  &:before {
    position: absolute;
    left: -5px;
    top: 10px;
  }
}

.icon-burger {
  display: block;
  position: absolute;
  top: 16px;
  right: 0;
  padding: 0 2px;

  @include media($bp-small) {
    display: none;
  }

  a {
    @include pad(11px 10px 16px);
    font-size: rem(40px);
    color: $white;
  }
}

.icon-chevron-thin-right,
.icon-chevron-thin-left {
  position: absolute;
  top: 40%;
}

.icon-facebook {
  color: $white;
}

.icon-twitter {
  color: $white;
}

.icon-chevron-circle-right {
  font-size: 20px;  
  margin-top: 10px;
  position: relative;
  top: 2px;
  left: 5px;
}
