.content-branding {
  @include shift(0.5);
  max-width: 100px;
  position: absolute;
  top: -30px;
  left: 0;

  @include media($bp-small) {
    left: auto;
    margin-left: 20px;
    max-width: $logo-width;
  }

  span {
    font-family: $title-font;
    color: $brand-red;
    font-size: rem(19px);
    letter-spacing: 0;
    display: none;

    @include media($bp-small) {
      display: block;
    }
  }
}
