.content-navigation {
  @include span-columns(12);
  min-height: $navigation-height;
  background: $brand-light-grey;
  position: relative;
  margin-top: 40px;

  @include media($bp-small) {
    margin-top: 0;
    margin-bottom: 50px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    width: 100%;

    @include media($bp-small) {
      width: auto;
      padding-left: 15px;
      padding-top: 7px;
    }

    &.js-open {
      @include media(max-width $bp-small) {
        padding: 95px 0 10px;

        li {
          display: block;
        }
      }
    }

    a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      @include transition(all 0.3s ease-in-out 0s);

      @include media($bp-small) {
        padding: 19px 0 19px 17px;
      }
      
      @include media($bp-medium) {
        padding: 19px 0 19px 65px;
        font-size: rem(20);
      }

      @include media($bp-normal) {
        padding: 19px 0 19px 96px;
        font-size: rem(22);
      }
    }
  }

  li {
    display: none;

    @include media($bp-small) {
      display: block;
      float: left;
    }

    &:last-child {
      a {
        border-right: none;
      }
    }
  }
}
