.content-recipes {
  margin-top: $gutter;
  color: $brand-dark-grey;

  .inner {
    min-height: 320px;
  }

  .content-recipe {
    @include span-columns(12);
    background: $brand-dark-grey;
    height: 320px;
    margin-bottom: 20px;

    @include media($bp-smaller) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($bp-normal) {
      @include omega-reset(2n);
      @include span-columns(4);
      @include omega(3n);
    }
  }

  .content-copy {
    @include pad(15px 20px);
    position: relative;
    height: 50%;

    h3 {
      max-width: 245px;
      margin-bottom: 5px;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .content-image {
    height: 50%;
    max-width: 100%;
    overflow: hidden;
  }

  .content-recipe-tag {
    font-size: rem(13);
    line-height: 22px;
    border-radius: 3px;
    border: 1px solid $white;
    color: $white;
    padding: 3px 10px;
    position: absolute;
    bottom: 15px;
    left: 20px;
  }
}
