.content-scroll-top {
  @include pad(30px 0 20px);

  a {
    font-size: rem(16px);
    color: $brand-red;
    letter-spacing: -0.01em;
    text-decoration: underline;
  }

  i {
    color: $brand-red;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 5px;
  }
}
