.content-search {
  @include span-columns(12);
  display: none;
  height: 50px;
  line-height: 50px;
  position: relative;
  border-bottom: 2px solid $brand-dark-grey;

  @include media($bp-small) {
    @include span-columns(1.5);
    @include shift(9.5);
  }

  .js-open & {
    @include media(max-width $bp-small) {
      margin-top: 50px;
      display: block;
      position: absolute;
      margin-top: 50px;
    }
  }

  input {
    @include span-columns(12);
    height: 100%;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    color: $brand-grey;
    text-indent: 35px;
    font-family: $title-font;
    border-radius: 0;
    line-height: 50px;

    @include media($bp-small) {
      @include span-columns(12);
    }
  }
}
