.content-slider {
  margin-top: $gutter;
  overflow: hidden;

  @include media($bp-small) {
    height: 400px;
  }

  .inner {
    position: relative;
  }
 
  .content-title {
    @include row();

    h2 {
      @include clearfix;
      @include span-columns(12);
      @include pad(10px);
      background: $brand-dark-red;

      @include media($bp-small) {
        @include span-columns(2 of 10, block-collapse);
        @include omega;
      }

      &:last-child {
        width: auto;
      }
    }

    span {
      font-size: rem(26);
      font-family: $body-font;
    }
  }

  .content-image {
    @include span-columns(12);
    position: relative;

    @include media($bp-small) {
      @include span-columns(6 of 10, block-collapse);
      @include omega;
    }
  }

  .content-copy {
    @include span-columns(12);
    @include pad(30px 20px);
    background: $brand-dark-red;
    position: relative;

    @include media($bp-small) {
      @include span-columns(4 of 10, block-collapse);
      @include pad(20px);
      height: 326px;
    }

    @include media($bp-medium) {
      @include pad(30px 40px);
      height: 340px;
    }

    h2 {
      @include media($bp-small) {
        font-size: rem(26px);
        line-height: normal;
      }

      @include media($bp-medium) {
        font-size: rem(30);
        line-height: rem(40);
      }
    }

    p {
      @include media($bp-small) {
        font-size: rem(16px);
        line-height: 20px; 
      }

      @include media($bp-medium) {
        font-size: rem(18);
      }
    }
  }
}
