footer {
  @include span-columns(12);
  font-size: em(14);
  margin-top: 10px;

  > div:first-child {
    width: 100%;
    height: 60px;
    background: $brand-light-grey;
  }

  h3 {
    color: $brand-red;
    font-family: $title-font;
    letter-spacing: 0.035em;
  }

  p, a {
    font-size: rem(14);
    color: $brand-dark-grey;
    font-family: $body-font-light;

    &.small {
      font-size: rem(11px);
      margin-top: 15px;
      line-height: 14px;
      color: $brand-grey;
    }
  }

  a {
    text-decoration: underline;
    float: left;
    margin-right: 10px;
    display: block;

    @include media($bp-small) {
      float: none;
    }
  }
  
  .content-wrap {
    @include span-columns(12);
    margin-bottom: 20px;

    @include media($bp-normal) {
      @include span-columns(8 of 10);
      margin-bottom: 100px;
    }
  }

  .content-copyright {
    @include span-columns(12);
    margin-bottom: 20px;

    @include media($bp-normal) {
      @include span-columns(2 of 10);
      margin-bottom: 0;
    }
  }

  .content-recipes-info,
  .content-story,
  .content-tips,
  .content-contact {
    @include span-columns(10 of 10);
    @include omega;
    margin-top: 15px;

    @include media($bp-normal) {
      @include span-columns(2 of 8);
    }
  }

  .content-social {
    @include span-columns(12);
    background: $brand-light-grey;

    @include media($bp-small) {
      height: 60px;
    }
    
    ul {
      @include span-columns(10 of 12);
      padding-bottom: 20px;

      @include media($bp-small) {
        @include span-columns(8 of 10);
        height: 60px;
      }
    }

    li {
      margin: 25px 15px 0 0;
      font-size: rem(12px);
      color: $brand-grey;

      @include media($bp-small) {
        float: left;
      }
    }

    .content-social-links {
      float: right;
      background: $brand-red;
      line-height: 60px;
      height: 60px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 20px;

      @include media($bp-small) {
        @include span-columns(2 of 10);
        position: relative;
        right: auto;
      }
    }

    .icon-twitter {
      // margin-left: 45px;
    }

    [class^="icon-"], [class*=" icon-"] {
      font-size: 22px;
      padding-top: 18px;
      display: block;
      float: left;
    }
  }
}
