.site-wrapper {
  @include span-columns($grid-columns);
  @include omega;

  .container {
    @include outer-container($container-width);
    position: relative;
  }

  .inner {
    @include span-columns(11);
    @include shift(0.5);
    
    @include media($bp-normal) {
      @include span-columns(10);
      @include shift();
    }
  }
}

@for $i from 1 to $grid-columns {
  .col-#{$i}-of-#{$grid-columns} {
    @include span-columns($i);
  }
}
